<p id="notice"><%= notice %></p>

<h1>Market Listings</h1>

<%= will_paginate @market_listings %>
<%= render @market_listings %>
<%= will_paginate @market_listings %>

<br>

<% if can? :manage, MarketListing %>
  <%= link_to 'New Market Listing', new_market_listing_path %>
<% end %>