<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @market_listing.transaction_id %>
</p>

<p>
  <strong>Transaction id high:</strong>
  <%= @market_listing.transaction_id_high %>
</p>

<p>
  <strong>Index:</strong>
  <%= @market_listing.index %>
</p>

<p>
  <strong>Appid:</strong>
  <%= @market_listing.appid %>
</p>

<p>
  <strong>Contextid:</strong>
  <%= @market_listing.contextid %>
</p>

<p>
  <strong>Is credit:</strong>
  <%= @market_listing.is_credit %>
</p>

<p>
  <strong>Name:</strong>
  <%= @market_listing.name %>
</p>

<p>
  <strong>Market name:</strong>
  <%= @market_listing.market_name %>
</p>

<p>
  <strong>Market hash name:</strong>
  <%= @market_listing.market_hash_name %>
</p>

<p>
  <strong>Name color:</strong>
  <%= @market_listing.name_color %>
</p>

<p>
  <strong>Background color:</strong>
  <%= @market_listing.background_color %>
</p>

<p>
  <strong>Assetid:</strong>
  <%= @market_listing.assetid %>
</p>

<p>
  <strong>Classid:</strong>
  <%= @market_listing.classid %>
</p>

<p>
  <strong>Instanceid:</strong>
  <%= @market_listing.instanceid %>
</p>

<p>
  <strong>Icon url:</strong>
  <%= @market_listing.icon_url %>
</p>

<p>
  <strong>Date acted:</strong>
  <%= @market_listing.date_acted %>
</p>

<p>
  <strong>Date listed:</strong>
  <%= @market_listing.date_listed %>
</p>

<p>
  <strong>Price:</strong>
  <%= @market_listing.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @market_listing.seller %>
</p>

<%= link_to 'Edit', edit_market_listing_path(@market_listing) if current_user && current_user.superadmin_role? %>