<p id="notice"><%= notice %></p>

<h1>Scm Values</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scm_values.each do |scm_value| %>
      <tr>
        <td><%= scm_value.value %></td>
        <td><%= scm_value.date %></td>
        <td><%= link_to 'Show', scm_value %></td>
        <td><%= link_to 'Edit', edit_scm_value_path(scm_value) %></td>
        <td><%= link_to 'Destroy', scm_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, ScmValue %>
  <%= link_to 'New Scm Value', new_scm_value_path %>
<% end %>