<%= form_with(model: marketplace_sale, local: true) do |form| %>
  <% if marketplace_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marketplace_sale.errors.count, "error") %> prohibited this marketplace_sale from being saved:</h2>

      <ul>
        <% marketplace_sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :earned_credit %>
    <%= form.number_field :earned_credit %>
  </div>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.text_field :transaction_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
