<p id="notice"><%= notice %></p>

<h1>Marketplace Sales</h1>

<%= will_paginate @marketplace_sales %>
<%= render @marketplace_sales %>
<%= will_paginate @marketplace_sales %>

<br>

<%= link_to 'New Marketplace Sale', new_marketplace_sale_path %>
