<p id="notice"><%= notice %></p>

<p>
  <strong>Earned credit:</strong>
  <%= @marketplace_sale.earned_credit %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @marketplace_sale.transaction_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @marketplace_sale.date %>
</p>

<%= link_to 'Edit', edit_marketplace_sale_path(@marketplace_sale) %> |
<%= link_to 'Back', marketplace_sales_path %>
