<p id="notice"><%= notice %></p>

<p>
  <strong>Steamid:</strong>
  <%= reptf_link @steam_trade.steamid %>
</p>

<% if can? :manage, @steam_trade %>
  <p>
    <strong>Steamid other:</strong>
    <%= reptf_link @steam_trade.steamid_other %>
  </p>
<% end %>

<p>
  <strong>Traded at:</strong>
  <%= @steam_trade.traded_at %>
</p>

<p>
  <strong>Given items:</strong>
  <%= render partial: 'steam_trade_items/steam_trade_items', :locals => { steam_trade_items: @given_items, who: "my" } %>
</p>

<p>
  <strong>Received items:</strong>
  <%= render partial: 'steam_trade_items/steam_trade_items', :locals => { steam_trade_items: @received_items, who: "them" } %>
</p>

<% if can? :manage, @steam_trade %>
  <%= link_to 'Edit', edit_steam_trade_path(@steam_trade) %>
<% end %>