<p id="notice"><%= notice %></p>

<p>
  <strong>Marketplace sale:</strong>
  <%= @marketplace_sale_item.marketplace_sale_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @marketplace_sale_item.price %>
</p>

<p>
  <strong>Item:</strong>
  <%= @marketplace_sale_item.item_id %>
</p>

<p>
  <strong>Item original:</strong>
  <%= @marketplace_sale_item.item_original_id %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @marketplace_sale_item.full_name %>
</p>

<p>
  <strong>Defindex:</strong>
  <%= @marketplace_sale_item.defindex %>
</p>

<p>
  <strong>Particle:</strong>
  <%= @marketplace_sale_item.particle_id %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @marketplace_sale_item.quality_id %>
</p>

<p>
  <strong>Killstreak tier:</strong>
  <%= @marketplace_sale_item.killstreak_tier_id %>
</p>

<p>
  <strong>Skin name:</strong>
  <%= @marketplace_sale_item.skin_name %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @marketplace_sale_item.item_name %>
</p>

<p>
  <strong>Wear:</strong>
  <%= @marketplace_sale_item.wear_id %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @marketplace_sale_item.sku %>
</p>

<p>
  <strong>Full sku:</strong>
  <%= @marketplace_sale_item.full_sku %>
</p>

<%= link_to 'Edit', edit_marketplace_sale_item_path(@marketplace_sale_item) %> |
<%= link_to 'Back', marketplace_sale_items_path %>
