<p id="notice"><%= notice %></p>

<h1>Detail Items</h1>

<table>
  <thead>
    <tr>
      <th>Assetid</th>
      <th>Appid</th>
      <th>Contextid</th>
      <th>Defindex</th>
      <th>Craftable</th>
      <th>Skin name</th>
      <th>Killstreak tier</th>
      <th>Wear</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steam_trade_items.each do |steam_trade_item| %>
      <tr>
        <td><%= steam_trade_item.assetid %></td>
        <td><%= steam_trade_item.appid %></td>
        <td><%= steam_trade_item.contextid %></td>
        <td><%= steam_trade_item.defindex %></td>
        <td><%= steam_trade_item.craftable %></td>
        <td><%= steam_trade_item.skin_name %></td>
        <td><%= steam_trade_item.killstreak_tier_id %></td>
        <td><%= steam_trade_item.wear_id %></td>
        <td><%= link_to 'Show', steam_trade_item %></td>
        <td><%= link_to 'Edit', edit_steam_trade_item_path(steam_trade_item) %></td>
        <td><%= link_to 'Destroy', steam_trade_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail Item', new_steam_trade_item_path %>
