<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @steam_trade_item.full_name %>
</p>

<p>
  <strong>Assetid:</strong>
  <%= @steam_trade_item.assetid %>
</p>

<p>
  <strong>Appid:</strong>
  <%= @steam_trade_item.appid %>
</p>

<p>
  <strong>Contextid:</strong>
  <%= @steam_trade_item.contextid %>
</p>

<p>
  <strong>Defindex:</strong>
  <%= @steam_trade_item.defindex %>
</p>

<p>
  <strong>Craftable:</strong>
  <%= @steam_trade_item.craftable %>
</p>

<p>
  <strong>Skin name:</strong>
  <%= @steam_trade_item.skin_name %>
</p>

<p>
  <strong>Killstreak tier:</strong>
  <%= @steam_trade_item.killstreak_tier_id %>
</p>

<p>
  <strong>Wear:</strong>
  <%= @steam_trade_item.wear_id %>
</p>

<%= link_to 'Edit', edit_steam_trade_item_path(@steam_trade_item) if current_user && current_user.superadmin_role? %>