<div id="sales">
  <h1>Sales</h1>
  <% if @steam_trades_sales.any? %>
    <h2>Steam Trades</h2>
    <div class="steam-trades">
      <%= render @steam_trades_sales %>
    </div>
  <% end %>
  
  <% if @marketplace_sale_items.any? %>
    <h2>Marketplace Sales</h2>
    <div class="marketplace-sale-items">
      <%= render @marketplace_sale_items %>
    </div>
  <% end %>
  
  <% if @market_listings_sales.any? %>
    <h2>Market Listings</h2>
    <div class="market-listings">
      <%= render @market_listings_sales %>
    </div>
  <% end %>
</div>

<div id="purchases">
  <h1>Purchases</h1>
  <% if @steam_trades_purchases.any? %>
    <h2>Steam Trades</h2>
    <div class="steam-trades">
      <%= render @steam_trades_purchases %>
    </div>
  <% end %>
  
  <% if @market_listings_purchases.any? %>
    <h2>Market Listings</h2>
    <div class="market-listings">
      <%= render @market_listings_purchases %>
    </div
  <% end %>
</div>