<table>
  <thead>
    <th></th>
    <th>Spent</th>
    <th>Received</th>
  </thead>
  <% @stats.each do |k, stat| %>
    <tr>
      <td>
        <%= stat[:name] %>
      </td>  
      <td>
        <% if stat[:monetary] %>
          <%= humanized_money_with_symbol stat[:spent] %>
        <% else %>
          <%= stat[:spent] %>
        <% end %>
      </td>  
      <td>
        <% if stat[:monetary] %>
          <%= humanized_money_with_symbol stat[:received] %>
        <% else %>
          <%= stat[:received] %>
        <% end %>
      </td>  
    </tr>
  <% end %>
</table>

<% if @steam_trades.any? %>
  <h2>Completed Trades</h2>
  <%= line_chart @steam_trades_chart %>
<% end %>

  <h2>Keys</h2>
  <%= line_chart @steam_trade_keys_chart %>

<% if @market_listings.any? %>
  <h2>Market Listings</h2>
  <%= money_line_chart @market_listings_chart %>
<% end %>

<% if @marketplace_sales.any? %>
  <h2>Marketplace Sales</h2>
  <%= money_line_chart @marketplace_sales_chart %>
<% end %>