<p id="notice"><%= notice %></p>

<h1>Trades</h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Defindex</th>
      <th>Skin name</th>
      <th>Wear</th>
      <th>Particle</th>
      <th>Purchased at</th>
      <th>Sold at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.item_name %></td>
        <td><%= trade.defindex %></td>
        <td><%= trade.skin_name %></td>
        <td><%= trade.wear_id %></td>
        <td><%= trade.particle_id %></td>
        <td><%= trade.purchased_at %></td>
        <td><%= trade.sold_at %></td>
        <td><%= link_to 'Show', trade %></td>
        <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
        <td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade', new_trade_path %>
