<p id="notice"><%= notice %></p>

<p>
  <strong>Assetid:</strong>
  <%= @trade.assetid %>
</p>

<p>
  <strong>Appid:</strong>
  <%= @trade.appid %>
</p>

<p>
  <strong>Contextid:</strong>
  <%= @trade.contextid %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @trade.item_name %>
</p>

<p>
  <strong>Defindex:</strong>
  <%= @trade.defindex %>
</p>

<p>
  <strong>Craftable:</strong>
  <%= @trade.craftable %>
</p>

<p>
  <strong>Skin name:</strong>
  <%= @trade.skin_name %>
</p>

<p>
  <strong>Killstreak tier:</strong>
  <%= @trade.killstreak_tier_id %>
</p>

<p>
  <strong>Wear:</strong>
  <%= @trade.wear_id %>
</p>

<p>
  <strong>Particle:</strong>
  <%= @trade.particle_id %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @trade.quality_id %>
</p>

<p>
  <strong>Purchased at:</strong>
  <%= @trade.purchased_at %>
</p>

<p>
  <strong>Sold at:</strong>
  <%= @trade.sold_at %>
</p>

<p>
  <strong>Keys spent:</strong>
  <%= @trade.keys_spent %>
</p>

<p>
  <strong>Scm spent:</strong>
  <%= @trade.scm_spent %>
</p>

<p>
  <strong>Usd spent:</strong>
  <%= @trade.usd_spent %>
</p>

<p>
  <strong>Items spent:</strong>
  <%= @trade.items_spent %>
</p>

<p>
  <strong>Keys received:</strong>
  <%= @trade.keys_received %>
</p>

<p>
  <strong>Scm received:</strong>
  <%= @trade.scm_received %>
</p>

<p>
  <strong>Usd received:</strong>
  <%= @trade.usd_received %>
</p>

<p>
  <strong>Items received:</strong>
  <%= @trade.items_received %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @trade.notes %>
</p>

<p>
  <strong>Steamid:</strong>
  <%= @trade.steamid %>
</p>

<p>
  <strong>Steamid other:</strong>
  <%= @trade.steamid_other %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
